body {
  max-width: 1240px;
  margin: 0 auto;

}

label {
  display: block;
}

button {
  background: blue;
  color: white;
  border-radius: 15px;
  border: none;
}

.results {
  display: none;
}
.results.is-active {
  display: block;
}
